<div class="header">
  <div class="container">
    <h1>Guestbook Home Page</h1>
    <h2>This is a Rails App built by Lizzy.</h2>
  </div>
</div>

<div class="create">
  <div class="container">

  </div>
</div>
